NODE_ENV = development
PORT = 4001
HOST =

MONGODB_URI = "mongodb://localhost:27017/whatsapp-saas"

JWT_SECRET = "secret"
JWT_EXPIRES_IN = "1h"

EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = 587
EMAIL_SECURE = "false"
EMAIL_SERVICE = "gmail"
EMAIL_USER = "email"
EMAIL_PASS = "email_app_password"